In [6]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

In [7]:
documents = [
    "the cat sat on the mat",
    "the dog sat on the log",
    "the cat chased the mouse",
    "the dog chased the cat"
]

vocab = list(set(word for doc in documents for word in doc.split()))
vocab.sort()
N = len(documents)

In [8]:
def compute_tf(doc):
    tf = {}
    words = doc.split()
    for word in vocab:
        tf[word] = words.count(word) / len(words)
    return tf

In [9]:
def compute_idf():
    idf = {}
    for word in vocab:
        df = sum(1 for doc in documents if word in doc.split())
        idf[word] = np.log(N / (df)) + 1
    return idf

In [10]:
def compute_tfidf(tf, idf):
    tfidf = {}
    for word in vocab:
        tfidf[word] = tf[word] * idf[word]
    return tfidf

In [11]:
def compute_tfidf(tf, idf):
    tfidf = {}
    for word in vocab:
        tfidf[word] = tf[word] * idf[word]
    return tfidf

In [12]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(documents)
df_sklearn = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

In [13]:
df_manual

,cat,chased,dog,log,mat,mouse,on,sat,the
0,0.214614,0.000000,0.000000,0.000000,0.397716,0.000000,0.282191,0.282191,0.333333
1,0.000000,0.000000,0.282191,0.397716,0.000000,0.000000,0.282191,0.282191,0.333333
2,0.257536,0.338629,0.000000,0.000000,0.000000,0.477259,0.000000,0.000000,0.400000
3,0.257536,0.338629,0.338629,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000

In [14]:
df_sklearn

,cat,chased,dog,log,mat,mouse,on,sat,the
0,0.330056,0.000000,0.000000,0.000000,0.517097,0.000000,0.407685,0.407685,0.539685
1,0.000000,0.000000,0.396490,0.502897,0.000000,0.000000,0.396490,0.396490,0.524865
2,0.361459,0.446473,0.000000,0.000000,0.000000,0.566295,0.000000,0.000000,0.591032
3,0.385612,0.476308,0.476308,0.000000,0.000000,0.000000,0.000000,0.000000,0.630527